*{
    padding:0;
    margin:0;

}

body{
    font-family: Calibri;
}

.side-bar{
    width:15%;
    height:100vh;
    background: rgb(234, 235, 229);
    border-right: 1px solid rgb(175, 175, 172);

}


.side-bar ul li{
    list-style-type: none;
    display:block;
    padding-top:5px;
    border-top: 1px solid rgb(175, 175, 172);
    margin-top: 1px; 
    padding-bottom:5px;
    /* border-top: 1px solid rgb(6, 4, 112); */
    border-bottom: 1px solid rgb(175, 175, 172);
}

.side-bar ul li a{
    padding-left: 10px;
    text-decoration: none;
    color:rgb(6, 4, 112);
    /* font-weight: 600; */
    
}

#std_id{
    color:red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

main{
    width:75%;
    margin-left: 20%;
    position: absolute;
    top:5%;
}

main h2{
    color:red;
    padding-bottom:10px;
    font-family: cursive;
    font-size: medium;
}

main p{
  letter-spacing: 0.05em;
  line-height: 25px;  
  text-align: justify;
  padding-bottom: 30px;
}

